<div class="col-md-12">
  <%= link_to("留下影评", new_account_movie_comment_path(@movie), class: "btn btn-danger pull-right") %>
  <h2><%= @movie.name %></h2>
  <p class="text-center"><%= @movie.review %></p>
</div>

<table class="table">
  <thead>
    <th>电影名称</th>
    <th>发表者</th>
    <th>发表时间</th>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.content %></td>
      <td><%= comment.user.email %></td>
      <td><%= comment.created_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>
